html{
    font-family: "LINE Seed JP", sans-serif;
    font-family: "BBH Bartle", sans-serif;
    font-family: "DM Serif Display", serif;
    font-family: "Aboreto", sans-serif;
    font-family: "Montserrat", sans-serif;
    font-family: "Montserrat", sans-serif;
}
header h1{
    font-size: 8vw;
    font-family:  Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
    padding: 15px 0 15px 0;
}

header a{
    margin: 2px 2px 2px 2px;
}

p{
    font-size: 1.25rem;
}

header h1{
    margin: 20px 80px 20px 80px;
}

main{
    margin: 20px 80px 20px 80px;
}
section.criancas p {
    padding: 10px;
    font-size: 20px;
     font-family: "Montserrat", sans-serif;
}
section.dicasPais h2{
    font-size: 4vw;
     font-family: "Montserrat", sans-serif;
    padding: 0 0 20px 0;
    font-weight: bold;
}
section.dicasPais p{
    padding: 10px;
    font-size: 1.20rem;
     font-family: "Montserrat", sans-serif;
}
section.dicasPais ul{
    padding: 0 20px 0 20px;
}
section.dicasPais ul{
    display: flex;
   justify-content: center;
   padding: 35px 0 35px 0;
}
section.dicasPais ul li{
    background-color: rgb(3, 3, 3);
    padding: 15px 35px 15px 35px ;
}
section.lugarCriancas h2{
    font-size: 3vw;
     font-family: "Montserrat", sans-serif;
    padding: 0 0 20px 0;
    font-weight: bold;
}
section.lugarCriancas p{
    padding: 10px;
    font-size: 20px;
     font-family: "Montserrat", sans-serif;
}
footer{
  padding: 60px
}

footer ul{
  display: flex;
  justify-content: center;
  gap: 17px;
  text-align: center;
}


footer p{
  font-size: 0.7rem;
  font-family: Aboreto;
  text-align: center;
  color: black;
}

footer p a:hover{
  color: #333;
  font-style: bold;
  font-size: 0.76rem;
}

footer ul li a img{
  width: 30px;       
  height: auto;      
  object-fit: contain; 
}

footer ul li a img:hover{
  width: 35px;        
}